* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: rgb(228, 163, 228);
    color: white;    
}

div#full {
    max-width: 50%;
    margin: auto;
    display: block;           

}

.circular--square {
    border-radius: 50%;
    width: 20%;
    margin-top: 50px;
}

div#perfil:hover{
    transform: scale(1.2);
}
div#perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

p {
    display: inline-block;
    margin-left: 15px;
    ;
}

span.name {
    font-size: 200%;
    align-content: first baseline;
    font-weight: bold;
}

span.titles {
    font-size: 150%;
    align-content: first baseline;
    font-weight: bold;
    margin-bottom: 2px;
}

span.titles:hover{
    transform: scale(1.2);
}

div#description {
    align-items: center;
    justify-content: center;
    display: flex;   
}

div#index {
    align-items: center;
    justify-content: center;
    display: flex; 
}

div#courses {
    align-items: center;
}

span.subtitle {
    font-size: 115%;
    align-content: first baseline;
    font-weight: bold;
}

a {
   align-content: first baseline;
   font-weight: bold;
   margin-top: 10px;
    
}

div.card {
    margin-left: 15px;
}
div.card:hover{
    transform: scale(1.2);
}

a:hover{
    transform: scale(1.2);
}
.sub {
    font-size: 100%;
    align-content: first baseline;
    font-weight: bold;
}

textarea {
    margin-left: 15px;
    width: 346px; 
    height:60px;
}

input[type=text] {
    width: 156px; 
  }