* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(228, 163, 228);
    color: white;     
}

div#full {
    max-width: 50%;
    margin: auto;           

}

.circular--square {
    border-radius: 50%;
    width: 20%;
    margin-top: 50px;
}

div#perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

p {
    display: inline-block;
    margin-left: 20px;
    ;
}

span.name {
    font-size: 200%;
    align-content: first baseline;
    font-weight: bold;
}

span.titles {
    font-size: 150%;
    align-content: first baseline;
    font-weight: bold;
}

div#description {
    align-items: center;
    justify-content: center;
    display: flex;
    
}



